include ../../mixins/index

+b.section.--general.SECTION
    +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl.--fit_mac-mac.--fit_fhd-fhd
      +b.information
        +b.text.P what are you waiting for ?
        +b.subtitle.H2 let’s be creative !
        +e.item.--first 
          +b.title.H1 Startuprr,
          +b.text.P next generation & highly flexible wordpress theme
        +e.item--second
          +b.lines.--left.SPAN
          +e.image.--left.IMG(
            src=('../static/img/3rhombs.svg')
            alt=('Rombs')
          )
          +b.text.text--decorate.P start
          +b.text.P  doing that
          +e.image.--right.IMG(
            src=('../static/img/3rhombs.svg')
            alt=('Rombs')
          )
          +b.lines.--right.SPAN
        +b.text.text--accept.P &#x3b;