include ../../mixins/index

+b.section.--ninth.SECTION
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +marker-dark
    +b.slick-wrapper 
      +b.cards-wrapper.slick-quote
        +quote(
          "alexis simpson",
          "- CEO & Developer",
          " Lorem ipsum dolor sit amet, laudantium, totam rem. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo consequat magna, id molestie ipsum volutpat quis."
        )
        +quote(
          "steven cole",
          "- User Interface Designer",
          " Lorem ipsum dolor sit amet, laudantium, totam rem. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo consequat magna, id molestie ipsum volutpat quis."
        )
        +quote(
          "Frank piener",
          "- Sales Manager",
          " Lorem ipsum dolor sit amet, laudantium, totam rem. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo consequat magna, id molestie ipsum volutpat quis."
        )
        +quote(
          "ashley lennon",
          "- IT Specialist",
          " Lorem ipsum dolor sit amet, laudantium, totam rem. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo consequat magna, id molestie ipsum volutpat quis."
        )