include ../../mixins/index

+b.section.--seventh.SECTION
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +b.text.P are you satisfied with unlimited features that we offer?
    +b.btns-wrapper 
      +b.btn.A(
          href="#"
        ) purchase it now
      +b.btn.A(
          href="#"
        ) contact us now