include ../../mixins/index

+b.section.--sixth.SECTION
  +b.g-container--fit_sm-sm.--fit_md-md.--fit_lg-lg.--fit_xl-xl
    +marker("1")
    +sectionTitleDark(
      'company',
      'facts',
      'We do love to work and increase our counter numbers, this is what we’ve done till now'
    )
    +b.blocks-wrapper.g-row.g-row--appearance_spaced
      +facts(
        '218',
        '&#x5a;',
        'completed projects'
      )
      +facts(
        '360',
        '&#xe0e1;',
        'hours of work / month'
      )
      +facts(
        '135',
        '&#xe07c;',
        'solved tickets'
      )
      +facts(
        '174',
        '&#xe0dd;',
        'satisfied clients'
      )
