
<header class="header">
  <div class="g-container g-container--fit_sm-sm g-container--fit_md-md g-container--fit_lg-lg">
    <div class="header-wrapper"> <img class="header-wrapper__image" src="../static/img/logo.svg" alt="Instagram" title=""/><input class="header-wrapper__search" type="search" placeholder="Search"/>
      <div class="header-container"><a class="header-container__link" href="#"><img class="header-container__image" src="../static/img/icon/home.svg" alt="Home" title=""/></a><a class="header-container__link" href="#"><img class="header-container__image" src="../static/img/icon/direct.svg" alt="Direct" title=""/><span class="header-container__element"> 
        <P class="text">5</P></span></a><a class="header-container__link" href="#"><img class="header-container__image" src="../static/img/icon/nav.svg" alt="Navigation" title=""/></a><a class="header-container__link" href="#"><img class="header-container__image" src="../static/img/icon/notif.svg" alt="Notification" title=""/></a><a class="header-container__link header-container__link--user" href="#"><img class="header-container__image header-container__image--user" src="../static/img/ava.webp" alt="User" title=""/></a>
      </div>
    </div>
  </div>
</header>